@{
    ViewBag.Title = "About";
}
<div class="jumbotron"
     style="background-color:lightgray;
      border:hidden;
      border-radius:25px;">

    <h2>What Is Deep Checks?</h2>
    <p>Deep Checks is a program used to help users provide structure to and record regular conversations they can have with people they have relationships with.</p>
    <h3>What To Do</h3>
    <p>First, set up a regular time for you to have a structured conversation (aka a Deep Check) with the other person in the relationship. This could be as often as once a week or once a month. The important thing is to make sure that the frequency is often enough for both parties to feel regularly heard but not so frequent that it is difficult to maintain.</p>
    <p>For each of these Deep Checks, prepare your thoughts ahead of time for conversations around three categories: things I'm doing well, things you're doing well, and things I need more of. Take turns sharing your points, and then mirror what the other person has said as closely to their words as possible.</p>
    <p>It's important to listen with intention and not interrupt while the other person is sharing. Give them the space to share what they feel and celebrate the relationship in their words. If a point that the other person brings up is unclear to you, you can ask clarifying questions, but be sure to give them the space to finish their thoughts before interjecting.</p>
    <p>You can use this application to record all of your Relationships, Deep Checks, and Entries for those Deep Checks. This can be a good way to keep track of how both of you are contributing to the health of your relationship and act as a reminder for things that you want to do more for your partner.</p>
    <p> Below you'll find greater detail on what you should be talking about within each of the categories.</p>
    <hr />
    <h3>Categories for Conversation</h3>
    <br />
    <h4>Things I'm Doing Well</h4>
    <p>For this category, ask yourself, what are some things I'm doing well in this relationship? How am I making an effort to meet the needs of the other person? Have I taken feedback from previous checks and worked to meet those asks? You add things that you're doing well that may not directly affect the relationship, such as excelling at work or advocating for yourself more, but also try to include a few things that are pertinent to the relationship.</p>
    <br />
    <h4>Things You're Doing Well</h4>
    <p>For this category, think of things that the other person is doing well in the relationship. How have they worked to meet your needs? Have they made an effort to improve themselves or how they show up in the relationship? Maybe they've always done this thing really well, and you just want to acknowledge it again. This category is just as important as the others; it's an opportunity to validate the efforts that both of you have made to be better for each other!</p>
    <br />
    <h4>Things I Need More Of</h4>
    <p>This category doesn't just have to be a list of things the other person isn't doing. In fact, it shouldn't be! Take this time to point out things that the other person has been doing well in the relationship that you would love to continue seeing. Or, you can take this time to ask for things that you know you'll need in the future. Maybe, you plan on starting a new job, and you'd like the other person to check in with you to see how things are going once you embark on that journey. If there are things that you've asked for in the past, and the other person hasn't been able to provide that for your, this can be an opportunity to bring it up again. But, do so softly. This is not a moment for you to be calling each other out, rather you're calling each other in and bringing attention to your needs. Once the other person has told you their asks, make sure to reflect it back to them. Confirm what they need from you by trying to adhere as closely as possible to their words without adding in or spinning it with some of your own.</p>
</div>
