@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"
     style="background-color:lightgray;
      border:hidden;
      border-radius:25px;">
    <h1>Welcome to Deep Checks!</h1>
    <p class="lead">A program designed to help you structure regular, healthy communication with your partner, friends, roommates, coworkers, or anyone else you have a relationship with.</p>
    @Html.ActionLink("How Does It Work?", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })
</div>